<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    {% extends "blog/base.html" %}
    {% block title %}Home{% endblock %}
    {% block content %}
    
    <h1>Bem vindo à {{ page_title }}, {{ username }}!</h1>
    <h2>A data atual é {{ current_date }} — agradecemos pela preferência :D</h2>

    <div class="link-stack">
        <a href="{% url 'main' %}">Voltar para a página principal</a>
    </div>
    {% endblock %}

</body>
</html>