<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- 1) Variáveis no template -->
    <h1>Olá, {{ username }}, a data atual é {{ current_date }}.</h1>

    <!-- 2) Condicionais -->
    {% if is_logged_in %}
    <h2>Bem vindo de volta!</h2>
    {% else %}
    <h2>Faça login para continuar.</h2>
    {% endif %}
    <hr>

    <!-- 3) Loops -->
    <h2>Seus produtos:</h2>
    <table style="border: 2px solid rgb(140 140 140);">
        <thead>
            <tr>
                <th>Produtos</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
            <tr>
                <td> {{ p.name }} </td>
                <td> {{ p.price }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>

    
    
</body>
</html>