{% extends "edu/base.html" %}
{% block title %}Livros{% endblock %}
{% block content %}
<h2>Livros</h2>

{% if perms.edu.add_livro %}
    <a class="btn" href="{% url 'livro_create' %}">Novo Livro</a>
{% endif %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>ISBN</th>
            <th>Editora</th>
            <th>Publicação</th>
            <th>Preço</th>
            <th>Estoque</th>
            {% if perms.edu.add_livro or perms.edu.change_livro or perms.edu.delete_livro %}
                <th>Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for livro in livros %}
        <tr>
            <td>{{ livro.id }}</td>
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.isbn }}</td>
            <td>{{ livro.editora.nome }}</td>
            <td>{{ livro.publicacao }}</td>
            <td>{{ livro.preco }}</td>
            <td>{{ livro.estoque }}</td>

            {% if perms.edu.add_livro or perms.edu.change_livro or perms.edu.delete_livro %}
                <td>
                    {% if perms.edu.change_livro %}
                        <a class="btn" href="{% url 'livro_update' livro.id %}">Editar</a>
                    {% endif %}
                    {% if perms.edu.delete_livro %}
                        <a class="btn" href="{% url 'livro_delete' livro.id %}">Excluir</a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% empty %}
        <tr><td colspan="8">Nenhum livro cadastrado.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}